@import '@/styles/base/variable.scss';

.search-area{
	position: relative;
	width : 100%;
	height: 1.875rem;
}

.search-container {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;	

	&__border{
		border: 1px solid $color-surface-variant !important;
    }

	&__focus{
		border: 1px solid $color-focus !important;
	}

	&__background{
		background-color: $color-background-white;
		border: 1px solid $color-background-white;
	}

	&__surface{
		background-color: $color-surface-white;
		border: 1px solid $color-surface-white;
	}
}

.search {
	display:flex;
	align-items: center;
	width: 100%;
	height: 1.875rem;
	padding : 5px;
	gap: 10px;

	input{
		@include text-body2();
		border: none;
		margin: 0;
		padding: 0;
		background-color: transparent;
		color: $color-text-black;
		width: 100%;
		&:focus {
			outline: none;
			&::placeholder{
				color : transparent;
			}
		}

		::placeholder {
			color: $color-placeholder;
		}
	}
}